Python/NumPy_Overview.html
Data Science/my_figure.png
Data Science/CodebrainersData-homework-solution/Users/sapkowskis/Downloads/recipeitems-latest.json
(Advanced) Multimedia Information Processing and Communications/12 (03) Cloud-Based Image Processing/key_leszczuk.txt
(Advanced) Multimedia Information Processing and Communications/12 (03) Cloud-Based Image Processing/key_miklesz.txt
(Advanced) Multimedia Information Processing and Communications/12 (03) Cloud-Based Image Processing/key.txt 
/Users/miklesz/Documents/Teaching/Courses/(Advanced) Multimedia Information Processing and Communications/06 Connectionless Streaming of Multimedia Content/Connectionless Streaming of Multimedia Content.pptx
/Users/miklesz/Documents/Teaching/Courses/(Advanced) Multimedia Information Processing and Communications/01 Digitization/Digitization.pptx
/Users/miklesz/Documents/Teaching/Courses/(Advanced) Multimedia Information Processing and Communications/01 Digitization/Digitization 2.pptx
/Users/miklesz/Documents/Teaching/Courses/(Advanced) Multimedia Information Processing and Communications/07 Connection-Oriented Streaming of Multimedia Content/Connection-Oriented Streaming of Multimedia Content.mp4
/Users/miklesz/Documents/Teaching/Courses/(Advanced) Multimedia Information Processing and Communications/07 Connection-Oriented Streaming of Multimedia Content/big_buck_bunny_480p_h264.mov
/Users/miklesz/Documents/Teaching/Courses/(Advanced) Multimedia Information Processing and Communications/07 Connection-Oriented Streaming of Multimedia Content/Connection-Oriented Streaming of Multimedia Content (Video).pptx
/Users/miklesz/Documents/Teaching/Courses/(Advanced) Multimedia Information Processing and Communications/07 Connection-Oriented Streaming of Multimedia Content/big_buck_bunny_1080p_h264.mov
/Users/miklesz/Documents/Teaching/Courses/Data Science/CodebrainersData-homework-solution/Users/sapkowskis/Downloads/recipeitems-latest.json
/Users/miklesz/Documents/Teaching/Courses/.git/objects/04/a1334a3a35d8cb32ed0e93dd153a194c78a946
/Users/miklesz/Documents/Teaching/Courses/.git/objects/94/45a94c39bb033f6f14f8f4ffc1a567bd5e06a7
/Users/miklesz/Documents/Teaching/Courses/.git/objects/bb/1e831c20c5453f104b9e489d255ce5a853534e
/Users/miklesz/Documents/Teaching/Courses/.git/objects/ca/20345074cd580f8bc71d86466abdfab29ecb33
/Users/miklesz/Documents/Teaching/Courses/.git/objects/pack/pack-7c29641098a90094dd1e6e924e5c01f7c11db0f1.pack
/Users/miklesz/Documents/Teaching/Courses/.git/objects/d3/c947d7f6a8f26ec4fb6865f8058b7e03090546
/Users/miklesz/Documents/Teaching/Courses/.git/objects/ff/53c2080e0e306875650cf34d76dba3aef6b3fe
/Users/miklesz/Documents/Teaching/Courses/.git/lfs/objects/b2/ac/b2acb9bddcb384f9762f919af8f6d8b4be781e40ad2f35a37cc12beef55b9a27
/Users/miklesz/Documents/Teaching/Courses/.git/lfs/objects/ca/41/ca41d577993785793e56fa4fb1767c067981fdd5d1354d01bb07146c5bdac285
/Users/miklesz/Documents/Teaching/Courses/.git/lfs/objects/dc/21/dc2146a2b1172def56730143ad80cd1825b7fad15f1fc9c23a4e7d01a741ac11
/Users/miklesz/Documents/Teaching/Courses/.git/lfs/objects/db/e0/dbe015b356d856b168b4c51693ce7547066a23b68250150c06c44f64a5e81183
/Users/miklesz/Documents/Teaching/Courses/.git/lfs/objects/e9/c7/e9c7bc14be2fe0f80fc7fcc13a01fb5ae920322ffe592d9463631bcec214d908
/Users/miklesz/Documents/Teaching/Courses/.git/lfs/objects/79/fa/79fa6b8ac8e88f061e5cb385fda62616a25d793e667b6bc8089c7015edea6c99
(Advanced) Multimedia Information Processing and Communications/01 Digitization/Digitization 2.pptx
(Advanced) Multimedia Information Processing and Communications/01 Digitization/Digitization.pptx
(Advanced) Multimedia Information Processing and Communications/07 Connection-Oriented Streaming of Multimedia Content/Connection-Oriented Streaming of Multimedia Content.mp4
(Advanced) Multimedia Information Processing and Communications/07 Connection-Oriented Streaming of Multimedia Content/Connection-Oriented Streaming of Multimedia Content (Video).pptx
(Advanced) Multimedia Information Processing and Communications/07 Connection-Oriented Streaming of Multimedia Content/big_buck_bunny_480p_h264.mov
(Advanced) Multimedia Information Processing and Communications/07 Connection-Oriented Streaming of Multimedia Content/big_buck_bunny_1080p_h264.mov
(Advanced) Multimedia Information Processing and Communications/06 Connectionless Streaming of Multimedia Content/Connectionless Streaming of Multimedia Content.pptx
(Advanced) Multimedia Information Processing and Communications/01 Digitization/Digitization.pptx
(Advanced) Multimedia Information Processing and Communications/01 Digitization/Digitization 2.pptx
