
Advanced Multimedia Information Processing and Communications/03 (12) Cloud-Based Image Processing/Cloud-Based Image Processing.mp4
Advanced Multimedia Information Processing and Communications/04 (13) Logical and Arithmetical Operations on Images/Logical and Arithmetical Operations on Images.mp4
Advanced Multimedia Information Processing and Communications/12 (21) Object Detection/Object Detection - Part 2.mp4
Advanced Multimedia Information Processing and Communications/12 (21) Object Detection/Movies/YOLOv3-MPU2HistivI.mkv
Advanced Multimedia Information Processing and Communications/11 (20) Shot Boundary Detection (SBD)/50028.mpg
Advanced Multimedia Information Processing and Communications/11 (20) Shot Boundary Detection (SBD)/UGS05.mpg
Advanced Multimedia Information Processing and Communications/11 (20) Shot Boundary Detection (SBD)/Shot Boundary Detection (SBD) - Part 1.mp4
Advanced Multimedia Information Processing and Communications/01-02 (10-11) Image Processing Software/Image Processing Software.mp4
Advanced Multimedia Information Processing and Communications/13 (22) Object Tracking/Object Tracking - Part 3.mp4
Advanced Multimedia Information Processing and Communications/13 (22) Object Tracking/Object Tracking.mp4
Python/NumPy_Overview.html
Data Science/my_figure.png
Data Science/CodebrainersData-homework-solution/Users/sapkowskis/Downloads/recipeitems-latest.json
(Advanced) Multimedia Information Processing and Communications/01 Digitization/Digitization.pptx
(Advanced) Multimedia Information Processing and Communications/03 Video Signal Compression/Video Signal Compression.mp4
(Advanced) Multimedia Information Processing and Communications/04 Audio Signal Compression/Audio Signal Compression.mov
(Advanced) Multimedia Information Processing and Communications/04 Audio Signal Compression/Audio Signal Compression.pptx
(Advanced) Multimedia Information Processing and Communications/04 Audio Signal Compression/Audio Signal Compression.mp4
(Advanced) Multimedia Information Processing and Communications/05 Multimedia Content Storage and Description/Multimedia Content Storage and Description.mp4
(Advanced) Multimedia Information Processing and Communications/05 Multimedia Content Storage and Description/Multimedia Content Storage and Description.pptx
(Advanced) Multimedia Information Processing and Communications/06 Connectionless Streaming of Multimedia Content/big_buck_bunny_480p_h264.mov
(Advanced) Multimedia Information Processing and Communications/06 Connectionless Streaming of Multimedia Content/BigBuckBunny_640x360.m4v
(Advanced) Multimedia Information Processing and Communications/06 Connectionless Streaming of Multimedia Content/Connectionless Streaming of Multimedia Content.mp4
(Advanced) Multimedia Information Processing and Communications/06 Connectionless Streaming of Multimedia Content/Connectionless Streaming of Multimedia Content.pptx
(Advanced) Multimedia Information Processing and Communications/07 Connection-Oriented Streaming of Multimedia Content/big_buck_bunny_480p_h264.mov
(Advanced) Multimedia Information Processing and Communications/07 Connection-Oriented Streaming of Multimedia Content/big_buck_bunny_1080p_h264.mov
(Advanced) Multimedia Information Processing and Communications/07 Connection-Oriented Streaming of Multimedia Content/Connection-Oriented Streaming of Multimedia Content-MacBook Pro (Mikołaj).pptx
(Advanced) Multimedia Information Processing and Communications/07 Connection-Oriented Streaming of Multimedia Content/Connection-Oriented Streaming of Multimedia Content.mp4
(Advanced) Multimedia Information Processing and Communications/12 (03) Cloud-Based Image Processing/key_leszczuk.txt
(Advanced) Multimedia Information Processing and Communications/12 (03) Cloud-Based Image Processing/key_miklesz.txt
(Advanced) Multimedia Information Processing and Communications/12 (03) Cloud-Based Image Processing/key.txt 
(Advanced) Multimedia Information Processing and Communications/10-11 (01-02) Image Processing Software/Image Processing Software.mp4
(Advanced) Multimedia Information Processing and Communications/12 (03) Cloud-Based Image Processing/Cloud-Based Image Processing.mp4
(Advanced) Multimedia Information Processing and Communications/20 (11) Shot Boundary Detection (SBD)/50028.mpg
(Advanced) Multimedia Information Processing and Communications/20 (11) Shot Boundary Detection (SBD)/UGS05.mpg
(Advanced) Multimedia Information Processing and Communications/20 (11) Shot Boundary Detection (SBD)/Shot Boundary Detection (SBD) - Part 1.mp4
(Advanced) Multimedia Information Processing and Communications/21 (12) Object Detection/Movies/YOLOv3-MPU2HistivI.mkv
(Advanced) Multimedia Information Processing and Communications/21 (12) Object Detection/Object Detection - Part 2.mp4
(Advanced) Multimedia Information Processing and Communications/22 (13) Object Tracking/Object Tracking - Part 3.mp4
(Advanced) Multimedia Information Processing and Communications/22 (13) Object Tracking/Object Tracking.mp4
(Advanced) Multimedia Information Processing and Communications/13 (04) Logical and Arithmetical Operations on Images/Logical and Arithmetical Operations on Images.mp4
(Advanced) Multimedia Information Processing and Communications/01 Digitization/Digitization 2.pptx
