
Advanced Multimedia Information Processing and Communications/03 (12) Cloud-Based Image Processing/Cloud-Based Image Processing.mp4
Advanced Multimedia Information Processing and Communications/04 (13) Logical and Arithmetical Operations on Images/Logical and Arithmetical Operations on Images.mp4
Advanced Multimedia Information Processing and Communications/12 (21) Object Detection/Object Detection - Part 2.mp4
Advanced Multimedia Information Processing and Communications/12 (21) Object Detection/Movies/YOLOv3-MPU2HistivI.mkv
Advanced Multimedia Information Processing and Communications/11 (20) Shot Boundary Detection (SBD)/50028.mpg
Advanced Multimedia Information Processing and Communications/11 (20) Shot Boundary Detection (SBD)/UGS05.mpg
Advanced Multimedia Information Processing and Communications/11 (20) Shot Boundary Detection (SBD)/Shot Boundary Detection (SBD) - Part 1.mp4
